
        <!-- Contact Us Section -->
<section class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="section-title">
                    <h2>Contact Us</h2>
                    <p><b>We are open 24*7 for suggestions and querries</b></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <form #contactUs="ngForm" class="mb-4 mb-lg-0">
                    <div class="form-row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" ngModel required/>
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" ngModel required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" ngModel required/>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" placeholder="Type Message" ngModel required></textarea>
                    </div>
                    <button type="submit" class="btn btn-light" [disabled]="contactUs.invalid" (click)="fnClick()">Contact Now</button>
                </form>
            </div>

                    
        </div>
    </div>
</section>
        <!-- End Contact Us Section -->
